@model IEnumerable<College_Social_Network_Project.Models.Course>
@{
    ViewBag.Title = "Course";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/StyleSheet2.css" rel="stylesheet" />
@Html.Partial("_Dashboard")


<table id="users">
    <tr>
        <th>

            <h4>Course Description</h4>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cdesc)
            </td>
            <td id="indextd">
                <a class="button-55" id="indexupload" href="@Url.Action( "student",new { course_id = item.Cid })"> Show Announcements </a>

            </td>

        </tr>
    }

</table>

