body {
    padding-top: 50px;
    padding-bottom: 20px;
  /*  background: #ededed;*/
  /*  background: #f4c2c2;*/
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

footer#endpage {
    bottom: auto;
    position: absolute;
    padding: 30px 0px;
}

.navbar-brand {
    float: left;
    padding: 15px 15px;
    font-size: 21px;
    line-height: 20px;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.navbar-inverse {
    background-color: #456074;
    border-color: #ffffff;
}

    .navbar-inverse .navbar-brand {
        color: #fff;
    }

        .navbar-inverse .navbar-brand:hover,
        .navbar-inverse .navbar-brand:focus {
            color: #6bd0b4;
            background-color: transparent;
        }

    .navbar-inverse .navbar-text {
        color: #fff;
        background-color: transparent;
    }

    .navbar-inverse .navbar-nav > li > a {
        color: #fff;
        font-family: Arial;
        font-size: 15px;
        background-color: transparent;
    }

        .navbar-inverse .navbar-nav > li > a:hover,
        .navbar-inverse .navbar-nav > li > a:focus {
            color: #6bd0b4;
        }

b, strong {
    font-weight: bold;
    color: #ffffff;
}

.users-list {
    background-color: rgb(174, 243, 235);
    border: groove;
    position: relative;
    left: 200px;
    margin-left: 990px;
    width: fit-content;
}

.user-box {
    display: flex;
    justify-content: space-between;
    background-color: #39557c;
    margin: 2px;
    color: white;
    padding: 1px 5px;
}
h5, .h5 {
    font-size: 17px;
}

    .user-box:hover {
        cursor: pointer;
    }

    .user-box i {
        color: lawngreen;
        margin: 10px;
    }



.chat-container {
    display: flex;
    justify-content: flex-start;
    overflow-x: auto;
}

.chat-box {
    width: 280px;
    height: 530px;
    min-width: 280px;
    border: 8px groove;
    margin: 15px;
}

.chat-box-header {
    display: flex;
    justify-content: space-between;
    background-color: #244687 /*deepskyblue*/ ;
    padding: 5px 15px;
}

.fa-times:hover {
    cursor: pointer;
    font-size: 18px;
}

.messages-list {
    padding: 25px;
    height: 350px;
    max-height: 350px;
    overflow: auto;
    background: #d5d5d5;
}

.dvmsg {
    padding: 1.5px;
}

.dvmsg-from {
    display: flex;
    justify-content: flex-start;
}

    .dvmsg-from .msg {
        background-color: #0084ff /*cornflowerblue*/;
        color: #FFFFFF;
    }

.dvmsg-to {
    display: flex;
    justify-content: flex-end;
}

    .dvmsg-to .msg {
        background-color: #4f5d6a;
        color: #FFFFFF;
    }
    

.msg {
    padding: 8px;
    width: auto;
    border-radius: 20px;
}

.chat-box-input {
    padding: 15px;
}

.message-input {
    height: 60px;
    min-height: 60px;
    max-height: 100%;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
}
textarea.message-input.form-control {
    font-size: 18px;
    background: #d5d5d5;
    color: #000000;
    height: 100px;
    width: 100px;
}