
@{
    ViewBag.Title = "Index";

}

<link href="~/Content/StyleSheet2.css" rel="stylesheet" />
<link href="~/Content/FooterSheet.css" rel="stylesheet" />
<link href="~/Content/admindashboard.css" rel="stylesheet" />

@Html.Partial("_Dashboard")



<div id="mainadmin">
    <img src="/Images/adminpanel.jpg" alt="" id="imgmainadminpanel">
    <div class="u-layout-admin">
        <h1 class="u-headtext-admin">IT solutions</h1>
        <p class="u-infotext-admin"> We create new value through digital transformation. We have to be specialist in  our role</p>
        <h3 class="u-circletext-admin"> be always valuable</h3>
    </div>

</div>




<div id="end">

    <div class="iq_contact_info">
        <div id="container">
            <ul>
                <li>
                    <i class="fa fa-map-marker"></i>
                    <div class="iq_info_wrap">
                        <h5>University Address</h5>
                        <p>Abbasiya, Waily <span>Cario</span></p>
                    </div>
                </li>
                <li>
                    <i class="fa fa-phone"></i>
                    <div class="iq_info_wrap">
                        <h5>Contact Number</h5>
                        <span>+ (02) 115 259 4959</span>
                        <span>+ (02) 101 814 1454</span>
                    </div>
                </li>
                <li>
                    <i class="fa fa-phone"></i>
                    <div class="iq_info_wrap">
                        <h5>Email</h5>
                        <a href="mailto:ibrahimmohamedmustafa4@gmail.com">ibrahimmohamedmustafa4@gmail.com</a>
                        <a href="mailto:ibrahimhimaa174@gmail.com">ibrahimhimaa174@gmail.com</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <footer class="iq_footer_bg">
        <div id="container">
            <div id="row">
                <!--Widget About Start-->
                <div id="col-md-4">
                    <div class="iq_uni_title">
                        <!--Widget Title Start-->
                        <h4>Faculty of Computer and Information Sciences<span>Ain Shams University.</span></h4>
                        <!--Widget Title End-->
                        <p> Devoting to advancing students' knowledge and education in fields related to computer science and technology.</p>
                        <ul>
                            <li><span>Saturday - Thursday</span> 08:00- 08:00</li>

                            <li><span>Friday</span> Closed</li>
                        </ul>
                    </div>
                </div>
                <!--Widget About End-->
                <!--Widget Archive Start-->
                <div id="col-md-4">
                    <div class="widget widget_archive">
                        <!--Widget Title Start-->
                        <h5 class="widget-title"><span>Our</span> Services</h5>
                        <!--Widget Title End-->
                        <!--Social Media Start-->
                        <ul>
                            <li>
                                <a>Safety &amp; Risk Management</a>
                            </li>
                            <li>
                                <a>Facilities Services</a>
                            </li>
                            <li>
                                <a>University Police</a>
                            </li>
                            <li>
                                <a>Campus Planning</a>
                            </li>
                            <li>
                                <a>Mail Services</a>
                            </li>
                            <li>
                                <a>Facilities IT</a>
                            </li>
                        </ul>
                        <!--Social Media End-->
                    </div>
                </div>
                <!--Widget Archive End-->
                <!--Widget Flickr Start-->
                <!--Widget Flickr End-->
                <!--Widget News Letter Start-->
                <div class="col-md-3">
                    <div class="widget iq_footer_newsletter">
                        <!--Widget Title Start-->
                        <!--Widget Title End-->
                        <!--Widget Title Start-->
                        <h5 class="widget-title border-none"><span>Our</span> Connected</h5>
                        <!--Widget Title Start-->
                        <ul class="iq_footer_social">
                            <li>
                                <a href="https://www.facebook.com/ibrahim.m.mohamed.m/"> <img src="/Images/facebook.png" alt=""></a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/ibrahim_mohamed_m/"> <img src="/Images/instagram.png" alt=""></a>
                            </li>
                            <li>
                                <a href="mailto:ibrahimmohamedmustafa4@gmail.com"> <img src="/Images/google-plus.png" alt=""></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/in/ibrahim-mohamed-5a9a20229/"> <img src="/Images/linkedin.png" alt=""></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--Widget News Letter End-->
            </div>
        </div>
    </footer>

    <div class="footer_strip">
        <h5> &copy; @DateTime.Now.Year - College Social Network By Ibrahim</h5>
    </div>

</div>

