@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/StyleSheet2.css" rel="stylesheet" />
    
<link href="~/Content/FooterSheet.css" rel="stylesheet" />


<div id="mainv">
    <div id="textv">
       <div id="textv1">
        <h3 id="headv">
            The Best Learning Institution
            
        </h3>
        <h2 id="headv">   
            welcome to our university<!---->
        </h2>
        </div>
        <p id="pv">
We help you to learn something better. You will be able to find lots of information about your semester and duty. We create a circle of Acquaintance between instructor and student.        </p>
    </div>    
    
    <video id = "mainv" autoplay="" loop="" muted=""><source type="video/webm" src="/Images/Masthead.webm"></video>  
</div>

     


<div class="lastMain">
    <a id="slider"> 
        <img id="mainPhoto">
        <div class="mainSlider">
            <img src="/Images/banner-01.jpg" style="display: none">
            <img src="/Images/banner-02.jpg" style="display: none">
            <img src="/Images/banner-03.jpg" style="display: none">
        </div>
    </a>
</div>

<div id="end">

<div class="iq_contact_info">
		        <div id="container">
		            <ul>
		                <li>
		                    <i class="fa fa-map-marker"></i>
		                    <div class="iq_info_wrap">
		                        <h5>University Address</h5>
		                        <p>Abbasiya, Waily <span>Cario</span></p>
		                    </div>
		                </li>
		                <li>
		                    <i class="fa fa-phone"></i>
		                    <div class="iq_info_wrap">
		                        <h5>Contact Number</h5>
		                        <span>+ (02) 115 259 4959</span>
		                        <span>+ (02) 101 814 1454</span>
		                    </div>
		                </li>
		                <li>
		                    <i class="fa fa-phone"></i>
		                    <div class="iq_info_wrap">
		                        <h5>Email</h5>
		                        <a href="mailto:ibrahimmohamedmustafa4@gmail.com">ibrahimmohamedmustafa4@gmail.com</a>
		                        <a href="mailto:ibrahimhimaa174@gmail.com">ibrahimhimaa174@gmail.com</a>
		                    </div>
		                </li>
		            </ul>
		        </div> 
		    </div>

<footer class="iq_footer_bg">
            	<div id="container">
            		<div id="row">
                        <!--Widget About Start-->
            			<div id="col-md-4">
            				<div class="iq_uni_title">
                                <!--Widget Title Start-->
            					<h4>Faculty of Computer and Information Sciences<span>Ain Shams University.</span></h4>
                                <!--Widget Title End-->
            					<p> Devoting to advancing students' knowledge and education in fields related to computer science and technology.</p>
            					<ul>
            						<li><span>Saturday - Thursday</span> 08:00- 08:00</li>
            						
            						<li><span>Friday</span> Closed</li>
            					</ul>
            				</div>
            			</div>
            			<!--Widget About End-->
                        <!--Widget Archive Start-->
            			<div id="col-md-4">
                            <div class="widget widget_archive">
                                <!--Widget Title Start-->
                                <h5 class="widget-title"><span>Our</span> Services</h5>
                                <!--Widget Title End-->
                                <!--Social Media Start-->
                                <ul>
                                    <li>
                                        <a >Safety &amp; Risk Management</a>
                                    </li>
                                    <li>
                                        <a >Facilities Services</a>
                                    </li>
                                    <li>
                                        <a >University Police</a>
                                    </li>
                                    <li>
                                        <a>Campus Planning</a>
                                    </li>
                                    <li>
                                        <a>Mail Services</a>
                                    </li>
                                    <li>
                                        <a>Facilities IT</a>
                                    </li>
                                </ul>
                                <!--Social Media End-->
                            </div>
            			</div>
                        <!--Widget Archive End-->
                        <!--Widget Flickr Start-->
                        
                        <!--Widget Flickr End-->
                        <!--Widget News Letter Start-->
            			<div class="col-md-3">
            				<div class="widget iq_footer_newsletter">
                                <!--Widget Title Start-->
            					
                                <!--Widget Title End-->
            					
                                
                                <!--Widget Title Start-->
            					<h5 class="widget-title border-none"><span>Our</span> Contact</h5>
                                <!--Widget Title Start-->
            					<ul class="iq_footer_social">
            						<li>
                                        <a href="https://www.facebook.com/ibrahim.m.mohamed.m/"> <img src="/Images/facebook.png" alt=""></a>       
            						</li>
            						<li>
            							<a href="https://www.instagram.com/ibrahim_mohamed_m/"> <img src="/Images/instagram.png" alt=""></a> 
            						</li>
            						<li>
            							<a href="mailto:ibrahimmohamedmustafa4@gmail.com"> <img src="/Images/google-plus.png" alt=""></a> 
            						</li>
            						<li>
            							<a href="https://www.linkedin.com/in/ibrahim-mohamed-5a9a20229/"> <img src="/Images/linkedin.png" alt=""></a> 
            						</li>
            					</ul>
            				</div>
            			</div>
                        <!--Widget News Letter End-->
            		</div>
            	</div>
            </footer>

    <div class="footer_strip">
				<h5> <p>&copy; @DateTime.Now.Year - College Social Network By Ibrahim</p></h5>
</div>

</div>









 <script type="text/javascript">
var images = [];

images[0] = ['/Images/banner-01.jpg'];
images[1] = ['/Images/banner-02.jpg'];
images[2] = ['/Images/banner-03.jpg'];
//images[3] = ['/Images/banner-04.jpg'];
//images[4] = ['/Images/banner-05.jpg'];
//images[5] = ['/Images/banner-06.jpg'];
//images[6] = ['/Images/banner-07.jpg'];




var index = 0;

function change() {
  document.getElementById("mainPhoto").src = images[index];
  if (index == 2) {
    index = 0;
  } else {
    index++;
  }

  setTimeout(change, 5000);
}

window.onload = change();
</script>



